.main {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 5px;
}

p {
	margin: 0;
}

.image {
	overflow: hidden;
	background: var(--color-background-darker);
	padding: 5px;
	display: inline-grid;
	grid-template-areas: "Picture";

	img {
		grid-area: Picture;
		object-fit: contain;
	}

	.image-infos {
		grid-area: Picture;
		padding: .5rem 1rem;
		background: rgba(0, 0, 0, .8);
		color: var(--color-text);
	}
}
